.footer {
    background-color: $footer-color;
    padding: 65px 0;
}

.footer__copyright {
    opacity: 0.1;
    color: $white;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 400;
}