.header-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}

.header-theme {
    text-align: center;
    margin-bottom: 19px;
}

.header-name {
    text-align: center;
}