.header {
    margin-bottom: 150px;
    padding-top: 65px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}

.header-theme {
    text-align: center;
    margin-bottom: 19px;
}

.header-main__title {
    text-align: center;
    color: $white;
    font-size: 36px;
    font-weight: 400;
}