.link-class {
  width: 100px;
  height: 100px;
  fill: red;
}

.reviews {
    background-image: linear-gradient(to right, #1c2024 0%, #1c2023 100%, rgba(27, 31, 34, 0) 100%);
    padding: 98px 32px;
}

.title title-reviews {
    text-align: center;
}


