

.about-body__pic-author1 {
	width: 50px;
	height: 50px;
}

.title-about {
	text-align: center;
	margin: 0;
	margin-bottom: 26px;
}

.contact-me__form-submit {
	text-transform: uppercase;
}

.about-body__text {
	margin: 0;
	font-size: 14px;
	margin-bottom: 30px;
}

.about-body__pic-author {
	width: 150px;
	height: 150px;
	border-radius: 50px;
	display: block;
}

.about-body__block-author {
	display: flex;
	justify-content: space-between;
}

.about-body__character,
.about-body__character-duty {
	margin: 0;
}

.about-body__character-wrap {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.about-body__block-author {
	margin-bottom: 151px;
}

.about-body__block2 {
	display: none;
}

