.promo
    .container
        .promo-block
            +image('content/photo_nikita.jpg', 'promo-block__img', 'фото')
            table.promo-block__table
        .promo-block__info
        .promo-block__about
            .promo-block__hello Привет, меня зовут
            .promo-block__name Никита Садовников
            p.promo-block__text-author Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            p.promo-block__text-site Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент, а пока посмотрите как тут всё классно и красиво!
