.about#about
    .about-container.container
        .about-block__wrap
            .about-block
                +image('content/photo_nikita.jpg', 'about-block__img', 'фото')
            table.about-block__table
                tr.about-block__table-row
                    td.about-block__table-data.about-block__table-data_question Проживаю:
                    td.about-block__table-data.about-block__table-data_answer Москва
                tr.about-block__table-row
                    td.about-block__table-data.about-block__table-data_question Возраст:
                    td.about-block__table-data.about-block__table-data_answer 30 лет
                tr.about-block__table-row
                    td.about-block__table-data.about-block__table-data_question Родился:
                    td.about-block__table-data.about-block__table-data_answer 18 октября 1989
        .about-block__info
            .about-block__hello Привет, меня зовут
            .about-block__name Никита Садовников
            p.about-block__text-author.text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            p.about-block__text-site.text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент, а пока посмотрите как тут всё классно и красиво!
