.form
    .container
        h2.title.form-title Связаться со мной
        form.form__wrapper
            .form__input.form__input_name
                +icon('user', 'form__icon')
                label.form__label.form__label_name(for='inputName') Введите ваше имя
                input#inputName.form__input-contact.form__input-contact_name(type='text', placeholder='Ivanov Ivan')
            .form__input.form__input_email
                +icon('envelope', 'form__icon')
                label.form__label.form__label_email(for='inputEmail') Введите ваш e-mail
                input#inputEmail.form__input-contact.form__input-contact_email(type='text', placeholder='i.ivanov@mail.ru')
        .form__input.form__input_message
            +icon('message', 'form__icon')
            label.form__label.form__label_message(for='inputMessage') Сообщение к письму
            textarea#inputMessage.form__input-contact.form__input-contact_message(placeholder='Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса')
        .submit-wrap
            button.form__form-submit(type='submit') Отправить