.header
    .container
        include socials
        +social("header")
        .header-main
            .header-main__label НС
            .header-main__menu БУТ
        p.header-theme Личный сайт веб-разработчика
        h1.header-main__title Никита Садовников