#header.header.js-header
    .container
        .header-main
            .header-main__label НС
            .header__nav
                include nav
                +nav("header")
            .header__socials
                include socials
                +social("header")
            .header-main__menu БУТ

