mixin nav(mod)
    .nav
        ul.nav-list
            li.nav-item
                a.nav-link(href="#header") Главная
            li.nav-item
                a.nav-link(href="#about") Обо мне
            li.nav-item
                a.nav-link(href="#presentation") Навыки
            li.nav-item
                a.nav-link(href="#projects") Работы
            li.nav-item
                a.nav-link(href="#reviews") Отзывы
            li.nav-item
                a.nav-link(href="#form") Связаться