.portfolio#projects
    .container
        .container__title-wrap
            h4.portfolio__title Мои работы
        +image('content/portfolio.png', 'portfolio__png', 'фото-портфолио')
        .portfolio__skills
            button.portfolio__skills-btn HTML
            button.portfolio__skills-btn CSS
            button.portfolio__skills-btn JavaScript
        h4.portfolio__title Сайт школы образования
        p.portfolio__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытание и бессонных ночей!
        a.portfolio__link(href="#" "+icon('link', 'portfolio__icon')") Посмотреть сайт