.portfolio
    .container
        .container__title-wrap
            h4.portfolio__title Мои работы
        +image('content/portfolio.png', 'portfolio__png', 'фото-портфолио')
        .portfolio__skills
            button.portfolio__skills-btn HTML
            button.portfolio__skills-btn CSS
            button.portfolio__skills-btn JavaScript
        h4.portfolio__title Сайт школы образования