.presentation
    .container
        h2.presentation__title Чем я могу быть полезен вам
        p.presentation__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент, а пока посмотрите как тут всё классно и красиво!
        h3.presentation__subtitle Front-end
        ul.presentation__list
            li.presentation__item
                svg.presentation__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                    circle.presentation__cirle.presentation__cirle_under(cx='50' cy='50' r='40')
                    circle.presentation__cirle.presentation__cirle_above(cx='50' cy='50' r='40' stroke-dashoffset='295')
                .presentation__icon-text HTML 5
            li.presentation__item
                svg.presentation__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                    circle.presentation__cirle.presentation__cirle_under(cx='50' cy='50' r='40')
                    circle.presentation__cirle.presentation__cirle_above(cx='50' cy='50' r='40' stroke-dashoffset='320')
                .presentation__icon-text CSS 3
            li.presentation__item
                svg.presentation__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                    circle.presentation__cirle.presentation__cirle_under(cx='50' cy='50' r='40')
                    circle.presentation__cirle.presentation__cirle_above(cx='50' cy='50' r='40' stroke-dashoffset='180')
                .presentation__icon-text JavaScript
            li.presentation__item
                svg.presentation__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                    circle.presentation__cirle.presentation__cirle_under(cx='50' cy='50' r='40')
                    circle.presentation__cirle.presentation__cirle_above(cx='50' cy='50' r='40' stroke-dashoffset='290')
                .presentation__icon-text Jquery и Vue.js
        h3.presentation__subtitle Workflow
        ul.presentation__list
            li.presentation__item
                svg.presentation__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                    circle.presentation__cirle.presentation__cirle_under(cx='50' cy='50' r='40')
                    circle.presentation__cirle.presentation__cirle_above(cx='50' cy='50' r='40' stroke-dashoffset='270')
                .presentation__icon-text GIT
            li.presentation__item
                svg.presentation__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                    circle.presentation__cirle.presentation__cirle_under(cx='50' cy='50' r='40')
                    circle.presentation__cirle.presentation__cirle_above(cx='50' cy='50' r='40' stroke-dashoffset='210')
                .presentation__icon-text Terminal
            li.presentation__item
                svg.presentation__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                    circle.presentation__cirle.presentation__cirle_under(cx='50' cy='50' r='40')
                    circle.presentation__cirle.presentation__cirle_above(cx='50' cy='50' r='40' stroke-dashoffset='300')
                .presentation__icon-text Gulp
            li.presentation__item
                svg.presentation__icon(viewBox='0 0 100 100' preserveAspectRatio='none')
                    circle.presentation__cirle.presentation__cirle_under(cx='50' cy='50' r='40')
                    circle.presentation__cirle.presentation__cirle_above(cx='50' cy='50' r='40' stroke-dashoffset='270')
                .presentation__icon-text Webpack
        +image('content/hands.png', 'presentation-hands__img', 'hands')
