.promo
    .container.promo__container
        h1.promo__title Личный сайт веб-разработчика
           span.promo__name Никита Садовников

    .promo__parallax
        .promo__parallax-item
            +image("content/parallax-sky.png", "promo__parallax-layer", "", "presentation")
        .promo__parallax-item
            +image("content/parallax-mountains.png", "promo__parallax-layer", "", "presentation")
        .promo__parallax-item
            +image("content/parallax-train.png", "promo__parallax-layer", "", "presentation")
        .promo__parallax-item
            +image("content/parallax-field.png", "promo__parallax-layer", "", "presentation")
        .promo__parallax-item
            +image("content/parallax-shadow.png", "promo__parallax-layer", "", "presentation")
