.promo#main
    .container.promo__container
        h1.promo__title.text Личный сайт в разработке
           .promo__name Никита Садовников
    .promo__parallax.js-parallax
        .promo__parallax-item.promo__parallax-item_sky
            +image("content/parallax-sky.png", "promo__parallax-layer promo__parallax-layer_sky", "", "presentation")
        .promo__parallax-item.promo__parallax-item_mountains.js-layer(data-speed="0.5")
            +image("content/parallax-mountains.png", "promo__parallax-layer promo__parallax-layer_mountains", "", "presentation")
        .promo__parallax-item.promo__parallax-item_train.js-layer(data-speed="0.3")
            +image("content/parallax-train.png", "promo__parallax-layer promo__parallax-layer_train", "", "presentation")
        .promo__parallax-item.promo__parallax-item_field.js-layer(data-speed="0.1")
            +image("content/parallax-field.png", "promo__parallax-layer promo__parallax-layer_field", "", "presentation")
        .promo__parallax-item.promo__parallax-item_shadow
            +image("content/parallax-shadow.png", "promo__parallax-layer promo__parallax-layer_shadow", "", "presentation")
