section.reviews#reviews
   .container.reviews__container
     h2.title.reviews-title Что обо мне говорят
     .reviews__btn-container
       button.reviews__btn.reviews__btn_prev
       button.reviews__btn
     .reviews__wrap
       include review-block
