.review-block
    .review-block__speech Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей.
    .review-block__author
        .review-block__author-img
            +image('content/dima_squire.png', 'review-block__pic-author', 'фото автора')
        .review-block__character-wrap
            h3.review-block__character Ковальчук Дмитрий
            .review-block__character-duty Основатель LoftSchool