section.reviews
   .reviews__container
     h3.title.title-about Что обо мне говорят
     .reviews__btn-container
       button.reviews__left-btn.cirle-btn
       button.reviews__right-btn.cirle-btn
   .reviews__wrap
       include review-block
       include review-block
