.review-block
    .review-block__speech
        p.review-block__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей.
    .review-block__author
        img.review-block__pic-author1(src='images/o8CzkPF3Ai8.png' alt='фото_автора')
        .review-block__character-wrap
            h3.review-block__character Ковальчук Дмитрий
            .review-block__character-duty Основатель LoftSchool