mixin social(mod)
    .socials
        a(href="" class="socials__link socials__link_" + mod)
            +icon('insta', 'socials__icon socials__icon_insta')
        a(href="" class="socials__link socials__link_" + mod)
            +icon('vk', 'socials__icon socials__icon_vk')
        a(href="" class="socials__link socials__link_" + mod)
            +icon('github', 'socials__icon socials__icon_github')